<%- include('header') -%>

<div class="text-center center-div">
    <div class="container border py-5">
        <h1>Welcome to express dashboard</h1>
        <p><%= user -%></p>
        <a href="/route/logout">Log Out</a>
    </div>
</div>

<%- include('footer') -%>
